@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
  width: 70%;
}
#containers{
  display: grid;
  justify-content: center;
}
a > div{
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 22px;
}